{% from "@macros/list_grid.twig" import list_grid %}
{% set currentProduct = ObjectApi.getProduct(product_id) %}

{% if currentProduct.metafields.mamezi_produkty_powiazane.connectedProductsIds != "" %}
    {% set connectedProducts = json_decode(currentProduct.metafields.mamezi_produkty_powiazane.connectedProductsIds|replace({'{': '[', '}': ']'})) %}

    {% set itemsList %}
        {% for connectedProduct in connectedProducts %}
            {% set product = ObjectApi.getProduct(connectedProduct) %}

            <a class="related-item {% if product.id == product_id %}current{% endif %}" href="{{ product.url }}"
               title="{{ product.name }}" data-id="{{ product.id }}" data-stock-id="1">

                {% if moduleConfig.showProductImage == 1 %}
                    <img src="{{ product.featuredImage.webpThumbnailUrl(120, 120) }}" alt="{{ product.name }}"
                         width="120" height="120">
                {% endif %}

                {% if moduleConfig.showProductName == 1 %}
                    <br>
                    <span class="related-item-name">{{ product.name }}</span>
                {% endif %}
            </a>
        {% endfor %}
    {% endset %}


    {% if moduleConfig.headerText != "" %}
        <span class="relatedHeader">{{ moduleConfig.headerText }}</span>
    {% endif %}

    <div id="customRelated">
        {{ list_grid(
            itemsList,
            {
                grid: {
                phoneItemsCountPerRow: moduleConfig.numberOfProductsInRowPhone,
                smallTabletItemsCountPerRow: moduleConfig.numberOfProductsInRowTablet,
                tabletItemsCountPerRow: moduleConfig.numberOfProductsInRowTablet,
                laptopItemsCountPerRow: moduleConfig.numberOfProductsInRowLaptop,
                desktopItemsCountPerRow: moduleConfig.numberOfProductsInRowDesktop
            }
            }
        ) }}
    </div>


    <style type="text/css">.related-item {
            display: inline-block;
            text-align: center;
        }

        .related-item .related-item-name {
            display: block;
            text-align: center !important;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #customRelated .related-item img {
            object-fit: contain;
            height: auto;
            width: auto;
        }

        .related-item.current {
            border: solid;
            border-color: {{ moduleConfig.borderColor }};
            border-width: {{ moduleConfig.borderSize }}px;
        }

        .relatedHeader {
            font-weight: bold;
        }

        #customRelated {
            margin-top: 10px
        }

    </style>
{% endif %}