{% from "@macros/list_grid.twig" import list_grid %}
{% set currentProduct = ObjectApi.getProduct(product_id) %}

{% if currentProduct.metafields.mamezi_produkty_powiazane.connectedProductsIds != "" %}
    {% set connectedProducts = json_decode(currentProduct.metafields.mamezi_produkty_powiazane.connectedProductsIds|replace({'{': '[', '}': ']'})) %}

    {% set itemsList %}
    
        {% if moduleConfig.showExpandButton == 1 %} 
            {% set loadedProductsCount = 0 %}
        {% endif %}
        
        {% for connectedProduct in connectedProducts %}
            {% set product = ObjectApi.getProduct(connectedProduct) %}
				{% if product.isAvailable %}
                	{% if moduleConfig.showExpandButton == 1 %} 
                        {% set loadedProductsCount = loadedProductsCount+1 %}
                    {% endif %}
					<a 
                  		class="custom-related__item {% if product.id == product_id %}custom-related__item--current{% endif %}" 
                        href="{{ product.url }}" 
                     	title="{{ product.name }}"
                        data-key="{{ loop.index }}"
                        data-id="{{ product.id }}" 
                        data-stock-id="1">

                      	{% if moduleConfig.showProductImage == 1 %}
                        	<span class="custom-related__imgwrap">
                              <img 
                                src="{{ product.featuredImage.webpThumbnailUrl(150, 150) }}" 
                                alt="{{ product.name }}"
                                width="150" 
                                height="150">
                           </span>
                      	{% endif %}

                        {% if moduleConfig.showProductName == 1 %}
                            <span class="custom-related__name {% if moduleConfig.shortenLongProductNames == 1 %}custom-related__name--collapse{% endif %}">{{ product.name }}</span>
                        {% endif %}
                  </a>
                {% endif %}
        {% endfor %}
    {% endset %}
	
    <div class="mmz custom-related">
    	{% if moduleConfig.headerText != "" %}
            <p class="p font_semibold custom-related__boxhead">{{ moduleConfig.headerText }}</p>
        {% endif %}

        {{ list_grid(
            itemsList,
            {
                grid: {
                  phoneItemsCountPerRow: moduleConfig.numberOfProductsInRowPhone,
                  smallTabletItemsCountPerRow: moduleConfig.numberOfProductsInRowTablet,
                  tabletItemsCountPerRow: moduleConfig.numberOfProductsInRowTablet,
                  laptopItemsCountPerRow: moduleConfig.numberOfProductsInRowLaptop,
                  desktopItemsCountPerRow: moduleConfig.numberOfProductsInRowDesktop
            	},
                classNames : ["custom-related__list"]
            }
        ) }}

        {% if moduleConfig.showExpandButton == 1 %}
          <div class="custom-related__showmore">
              {{ moduleConfig.expandButtonText }}
          </div>
        {% endif %}
    </div>
    
    <style type="text/css">
      .mmz .custom-related__list{
          gap:20px;
      }
      .mmz .custom-related__item{
          width: 100%;
          text-decoration: none;
          display:grid;
      }
      .mmz .custom-related__imgwrap{
          border-radius: 3px;
          border: 1px solid rgba(3, 8, 28, 0.15);
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          padding: 7px;
      }
      .mmz .custom-related__item--current .custom-related__imgwrap{
          border-color: {{ moduleConfig.borderColor }};
          border-width: {{ moduleConfig.borderSize }}px;
      }
      .mmz .custom-related__name{
          display: block;
          color:black;
          margin: 10px 2px;
          font-size:12px;
          line-height:15px;
          text-align: center;
      }
      
      {% if moduleConfig.shortenLongProductNames == 1 %}
        .mmz .custom-related__name--collapse{
            width : 100%;
            overflow:hidden;
            display:inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
      {% endif %}

      .mmz .custom-related__showmore{
          font-size:12px;
          text-decoration:underline;
          text-align: center;
          padding: 10px 5px;
          box-sizing: border-box;
          color: #D6302D;
          cursor: pointer;
      }
    </style>
    
    {% if moduleConfig.showExpandButton == 1 %}
    
		{% set numberOfProductsInRowPhoneKey = moduleConfig.numberOfProductsInRowPhone + 1 %}
        {% set numberOfProductsInRowTabletSmallKey = moduleConfig.numberOfProductsInRowTablet + 1 %}
        {% set numberOfProductsInRowTabletKey = moduleConfig.numberOfProductsInRowTablet + 1 %}
        {% set numberOfProductsInRowLaptopKey = moduleConfig.numberOfProductsInRowLaptop + 1 %}
        {% set numberOfProductsInRowDesktopKey = moduleConfig.numberOfProductsInRowDesktop + 1 %}
        
        {# showTriggerButtonMediaQuery #}
        
        {% if moduleConfig.numberOfProductsInRowPhone >= loadedProductsCount %}
			{% set showTriggerButtonPhone = false %}
        {% else %}
        	{% set showTriggerButtonPhone = true %}
        {% endif %}
        {% if moduleConfig.numberOfProductsInRowTablet >= loadedProductsCount %}
			{% set showTriggerButtonSmallTablet = false %}
            {% set showTriggerButtonTablet = false %}
        {% else %}
        	{% set showTriggerButtonSmallTablet = true %}
            {% set showTriggerButtonTablet = true %}
        {% endif %}
        {% if moduleConfig.numberOfProductsInRowLaptop >= loadedProductsCount %}
			{% set showTriggerButtonLaptop = false %}
        {% else %}
        	{% set showTriggerButtonLaptop = true %}
        {% endif %}
        {% if moduleConfig.numberOfProductsInRowDesktop >= loadedProductsCount %}
			{% set showTriggerButtonDesktop = false %}
        {% else %}
        	{% set showTriggerButtonDesktop = true %}
        {% endif %}
        
        {# endShowTriggerButtonMediaQuery #}
        
        <style type="text/css">
          .mmz .custom-related__list.show .custom-related__item{
          	display:grid !important;
          }
          .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowPhoneKey }}){
              display:none;
          }
          
          {% if showTriggerButtonPhone == true %}
            .mmz .custom-related__showmore{
            	display:block;
            }
          {% else %}
          	.mmz .custom-related__showmore{
            	display:none;
            }
          {% endif %}
          
          @media screen and (min-width:576px){
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowPhoneKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowTabletSmallKey }}){
                  display:none;
              }
              
              {% if showTriggerButtonSmallTablet == true %}
                .mmz .custom-related__showmore{
                    display:block;
                }
              {% else %}
              	.mmz .custom-related__showmore{
                    display:none;
                }
              {% endif %}
          }
          @media screen and (min-width:768px){
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowPhoneKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowTabletSmallKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowTabletKey }}){
                  display:none;
              }
              
              {% if showTriggerButtonTablet == true %}
                .mmz .custom-related__showmore{
                    display:block;
                }
              {% else %}
              	.mmz .custom-related__showmore{
                    display:none;
                }
              {% endif %}
          }
          @media screen and (min-width:1000px){
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowPhoneKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowTabletSmallKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowTabletKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowLaptopKey }}){
                  display:none;
              }
              
              {% if showTriggerButtonLaptop == true %}
                .mmz .custom-related__showmore{
                    display:block;
              	}
              {% else %}
              	.mmz .custom-related__showmore{
                    display:none;
              	}
              {% endif %}
          }
          @media screen and (min-width:1440px){
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowPhoneKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowTabletSmallKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowTabletKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowLaptopKey }}){
                  display:grid;
              }
              .mmz .custom-related__item:nth-child(n+{{ numberOfProductsInRowDesktopKey }}){
                  display:none;
              }
              {% if showTriggerButtonDesktop == true %}
                .mmz .custom-related__showmore{
                    display:block;
              	}
              {% else %}
              	.mmz .custom-related__showmore{
                    display:none;
              	}
              {% endif %}
          }
		</style>
	{% endif %}

{% endif %}